#cloud-config
## template: jinja
hostname: {{ instance.hostname }}
manage_etc_hosts: true

{% if instance.http_proxy %}
apt:
  http_proxy: "{{ instance.http_proxy }}"
  https_proxy: "{{ instance.https_proxy }}"
{% endif %}

users:
  - name: {{ instance.username }}
    groups: sudo
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    lock_passwd: false
    passwd: "{{ password_hash | default('') }}"

package_update: true
package_upgrade: true
packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - gnupg2
  - software-properties-common
  - python3
  - python3-pip
  - openjdk-21-jdk
  - npm

write_files:
{% if instance.http_proxy %}
  - path: /etc/instance.d/proxy.sh
    permissions: '0644'
    content: |
      export http_proxy="{{ instance.http_proxy }}"
      export https_proxy="{{ instance.https_proxy }}"
      export no_proxy="{{ instance.no_proxy }}"
{% endif %}
{% if instance.http_proxy %}
  - path: /etc/apt/apt.conf.d/95proxies
    permissions: '0644'
    content: |
      Acquire::http::Proxy "{{ instance.http_proxy }}";
      Acquire::https::Proxy "{{ instance.https_proxy }}";
{% endif %}
  - path: /usr/lib/binfmt.d/WSLInterop.conf
    permissions: '0644'
    content: |
      :WSLInterop:M::MZ::/init:PF
  - path: /etc/wsl.conf
    permissions: '0644'
    content: |
      [boot]
      systemd=true
      [automount]
      options = "metadata"
      [interop]
      appendWindowsPath = true
      [user]
      default={{ instance.username }}

runcmd:
{% if instance.http_proxy %}
  - git config --system http.proxy "{{ instance.http_proxy }}"
  - git config --system https.proxy "{{ instance.https_proxy }}"
{% endif %}
  - curl -fsSL https://get.docker.com | sh
  - usermod -aG docker {{ instance.username }}
  - systemctl enable docker
  - systemctl start docker
  - apt install -y docker-compose-plugin
  - snap install microk8s --classic
  - usermod -a -G microk8s {{ instance.username }}
  - mkdir -p /home/{{ instance.username }}/.kube
  - microk8s status --wait-ready
  - microk8s config > /home/{{ instance.username }}/.kube/config
  - chown -R {{ instance.username }}:{{ instance.username }} /home/{{ instance.username }}/.kube
  - snap install kubectl --classic

final_message: "✅ cloud-init finished on {{ instance.hostname }}."
